token.txt
salt/salt.txt
\.idea/
data/groups.json
data/materials.json
data/reviews.json
data/to_delete.json
data/date.json
__pycache__/
data/*
sub_bots/anon/salt/salt_anonimi.txt

sub_bots/anon/token_anon_old.txt

policreator.session

config/userbot_config.py

.vs/

policreator.session-journal
/venv/

sub_bots/fb_messenger/fb_messenger_config.py

functions/instagram/instagram_config.py

functions/instagram/geckodriver.log

salt/salt_anonimi.txt

token_old.txt

sub_bots/anon/token_anon.txt

functions/instagram/instabot.config.yml
sub_bots/primo/token_primo.txt
sub_bots/primo/primo.json
sub_bots/primo/primo.json

sub_bots/ask/reddit_client_id.txt

sub_bots/ask/reddit_password.txt

sub_bots/ask/reddit_secret_id.txt

sub_bots/ask/token_ask.txt

sub_bots/ask/ask.json

sub_bots/ask/watch_post.json

sub_bots/ask/ask_notify.json

sub_bots/ask/salt_ask.txt
