token.txt
salt/salt.txt
\.idea/
data/groups.json
data/materials.json
data/reviews.json
data/to_delete.json
data/date.json
__pycache__/
data/*
sub_bots/anon/salt/salt_anonimi.txt

sub_bots/anon/token_anon_old.txt

policreator.session

config/userbot_config.py

.vs/

policreator.session-journal
/venv/

sub_bots/fb_messenger/fb_messenger_config.py

functions/instagram/instagram_config.py

functions/instagram/geckodriver.log

salt/salt_anonimi.txt

token_old.txt

sub_bots/anon/token_anon.txt

functions/instagram/instabot.config.yml
